<div class="container-fluid">
    
    <div class="card" >
        <div class="container-fluid bg-dark" style="max-height: 600px;overflow: hidden; ">
            <img  src="{{movieDetails.backdropUrl}}"  class="img-fluid" alt="{{movieDetails.title}}"  />
        </div>
        
        <div class="card-img-overlay" style="background: rgba(0, 0, 20, 0.7);">
            <div class="row">
                <div class="col-4">
                    <img src="{{movieDetails.posterUrl}}" class="img-fluid float-right" />
                </div>
                <div class="col-5">
                    <div style="padding-left: 100px">
                        <div class="row">
                            <div class="col">
                                <h1 class="text-light">{{movieDetails.title}}</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h6 class="text-secondary">{{movieDetails.tagline}}</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <p class="text-secondary font-weight-bold">{{movieDetails.runTime | number }} m | {{movieDetails.releaseDate | date: 'yyyy'}}</p>
                            </div>
                            <div class="col-8">
                                <ng-container *ngIf="movieDetails.genres != null; else elseBlock">
                                     <span *ngFor="let genre of movieDetails.genres" class="badge rounded-pill bg-secondary text-light"><a style="text-decoration: none;color: inherit"> {{genre.name}}</a></span>
                                </ng-container>
                                
                                <ng-template #elseBlock>
                                    <span class="badge rounded-pill bg-light text-dark">No Genre</span>
                                </ng-template>
                                
                            </div>
                        </div>
                        <div class="row py-2">
                            <div class="col">
                                <ng-container *ngIf="movieDetails.rating != 0; else noRating">
                                    <h5><span class="badge bg-success text-light">{{movieDetails.rating | number:"1.1-1"}}</span></h5>
                                </ng-container>
                                <ng-template #noRating>
                                    <h5><span class="badge bg-success text-light">No Rating</span></h5>
                                </ng-template>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="text-light">{{movieDetails.overview}}</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-3 ">
                    <div class="row justify-content-end mt-5 mr-4 pt-5 pl-5" >
                        <button type="button" class="btn btn-outline-light btn-block"><i class="far fa-edit"></i> Review</button>
                    </div>
                    <div class="row justify-content-end mt-4 mr-4 pl-5">
                        <button type="button" class="btn btn-light float-right btn-block">BUY {{movieDetails.price | currency}}</button>
                    </div>
                    
                </div>
            </div>
        </div>

    </div>
    <div class="row pt-3">
        <div class="col-4 bg-light">
            <div id="movieFacts">
                <h6>MOVIE FACTS</h6>
                <ul class="list-group list-group-flush mb-2">
                    <li class="list-group-item" style="background-color:inherit"><i class="far fa-calendar-alt"></i> Release Date <span class="badge badge-pill bg-dark text-light">{{movieDetails.releaseDate | date: 'MMM dd, yyyy'}}</span></li>
                    <li class="list-group-item" style="background-color:inherit"><i class="fas fa-hourglass-half"></i> Run Time <span class="badge badge-pill bg-dark text-light"> {{movieDetails.runTime}} m</span></li>
                    <li class="list-group-item" style="background-color:inherit"><i class="far fa-money-bill-alt"></i> Box Office <span class="badge badge-pill bg-dark text-light">{{movieDetails.revenue | currency}}</span></li>
                    <li class="list-group-item" style="background-color:inherit"><i class="fas fa-dollar-sign"></i> Budget <span class="badge badge-pill bg-dark text-light">{{movieDetails.budget | currency}}</span></li>
                    <li class="list-group-item" style="background-color:inherit">
                        <a href="{{movieDetails.imdbUrl}}" style="color:inherit;"><i class="fab fa-imdb"></i></a>&nbsp;
                        <a href="#" style="color:inherit;"><i class="fas fa-share-square"></i></a>
                    </li>
                </ul>
                
            </div>
            <div id="trailers" class="pt-3">
                <h6>TRAILERS</h6>
                <ul class="list-group list-group-flush">
                    <ng-container *ngIf="movieDetails.trailers.length != 0; else noTrailer">
                        <li *ngFor="let trailer of movieDetails.trailers" class="list-group-item" style="background-color:inherit">
                            <a href="{{trailer.trailerUrl}}" style="text-decoration:none;color:inherit;">
                                <i class="fab fa-youtube"></i> 
                                {{trailer.name}}
                            </a>
                        </li>
                    </ng-container>
                    <ng-template #noTrailer>
                        <li class="list-group-item">No Trailer</li>
                    </ng-template>
                </ul>
            </div>
            
        </div>
        <div class="col-5">
            <div id="cast" style="padding-left: 100px">
                <h6>CAST</h6>
                <ul class="list-group list-group-flush">
                    <ng-container *ngIf="movieDetails.casts != null; else noCast">
                        <li *ngFor="let cast of movieDetails.casts" class="list-group-item">
                            <div class="row">
                                <div class="col-2">
                                    <img src="{{cast.profilePath}}" class="d-inline rounded-circle" width="45" height="65" />
                                </div>
                                <div class="col-5">
                                    <span>{{cast.name}}</span>
                                </div>
                                <div class="col-5">
                                    <span>{{cast.character}}</span>
                                </div>
                            </div>
                        </li>
                    </ng-container>
                    <ng-template #noCast>
                        <li class="list-group-item">No Cast</li>
                    </ng-template>
                </ul>
            </div>
            
        </div>
        <div class="col-3">

        </div>

    </div>
</div>
