<header>
    <nav class="navbar navbar-expand-lg navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3 ">
        <div class="container-fluid">
            <a class="navbar-brand " [routerLink]="[ '/']">Movie Shop <i class="fas fa-film"></i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" *ngIf="isLoggedIn">
                <ul class="navbar-nav flex-grow-1  mr-auto">
                    <li class="nav-item">
                        <div class="nav-item dropdown">
                            <button class="btn btn-dark dropdown-toggle text-muted" type="button" id="genres" data-toggle="dropdown">
                                GENRES
                            </button>
                            
                        </div>
                    </li>

                </ul>
                <div class="navbar-collapse ">
                    <ul class="navbar-nav ml-auto">
            
                        <li class="nav-item dropdown text-capitalize">
                            <a class="nav-link dropdown-toggle" id="dropdown" data-toggle="dropdown">
                                {{user.family_name +' ' + user.given_name }}
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown01">
                                <a class="dropdown-item" [routerLink]="[ '/user/purchases']"> Purchased Movies </a>
                                <a class="dropdown-item" [routerLink]="[ '/user/favorites']"> Favorite Movies </a>
                                <a class="dropdown-item" [routerLink]="[ '/user/purchases']"> User Account </a>
                                <a class="dropdown-item" (click)="logout()"> Logout </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="navbar-collapse collapse w-100" *ngIf="!isLoggedIn">
                <ul class="navbar-nav ml-auto">
                    <li class="navbar-item pr-4">
                        <a class="btn btn-outline-primary" [routerLink]="[ '/account/login']"> Login </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-primary"[routerLink]="[ '/account/register']" > Register </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>